body{
	background-color:lightblue;
}
.header{
	color:	rgb(128, 128, 128);
	text-align:center;
	text-transform: uppercase;
	font-size:25px;
}
.setTimer{
	position: absolute;
	top:50%;

	width: 300px;
  	border: 15px ;
  	padding: 50px;
  	margin: 20px;
  	 position: relative;
  left: 30px;
}